{% extends "../base.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block body %}
<main class="flex flex-grow px-4 sm:px-0">
    <div class="flex flex-col">
        <div class="flex min-h-screen flex-col px-6">
            <div class="mx-auto pt-8 ">
                <div class="flex flex-col md:flex-row sm:gap-4">
                    <!-- Main  Picture-->
                    <div class="w-full md:w-2/3">                
                        <a class="group relative flex w-full flex-col overflow-hidden rounded shadow-xl" href="">
                            <div class="w-full overflow-hidden rounded-xs">
                                <figure class="aspect-social relative">
                                    <img src="{% static 'image/blog-images/'|add:latest_blog.slug|add:'.webp' %}" alt="{{ lateset_blog.slug }}" class="rounded-lg inset-0 min-w-full" alt="">
                                </figure>
                            </div>
                            <div class="absolute top-6 left-6">
                                <div class="px-2 py-1 bg-white rounded-lg">
                                    <spand class="font-semibold capitalize  text-lg sm:text-4xl">Featured</span>
                                </div>
                            </div>
                            <div class="absolute bottom-0 flex h-full w-full flex-col justify-end space-y-1 bg-black bg-opacity-20 p-4 transition-all group-hover:bg-opacity-0">
                                <h1 class="text-2xl sm:text-6xl font-bold text-white">{{ latest_blog.title }}</h1>
                            </div>
                        </a>                    
                        
                        <!-- Subscribe Input -->
                        <div class="flex-row flex mt-4">
                            <input type="text" placeholder="E-mail" class="input input-bordered w-full" />
                            <button class="btn btn-primary">Subscribe</button>        
                        </div>
                        <!-- Subscribe Input -->

                    </div>
                    <!-- Main  Picture-->

                    <!-- Side Blog Posts-->
                    <div class="mt-4 sm:mt-0 w-full md:w-1/3 md:pr-12">
                        {% for blog in blogs %}
                        <!-- Django Template Langauge Blog Stores-->
                        <div class="mb-4 border-b-2 border-primary duration-500 hover:scale-105">
                            <a class="flex" href="{% url 'blog' %}">
                                <div class="flex items-center justify-between space-x-1">
                                    <div class="flex-col">
                                        <h2 class="text-md sm:text-xl lg:text-xl xl:text-3xl font-bold">{{ blog.title }}</h2>
                                        <p class="text-xs sm:text-sm lg:text-lg xl:text-xl font-regular">MORE: {{ blog.subtitle }}</p>
                                    </div>
                                    <!-- SVG Arrow-->
                                    <div class="h-fit rounded-full border-2 border-primary p-2 end-0" >
                                    </div>
                                    <!-- SVG Arrow-->
                                </div>
                            </a>
                        </div>
                        <!-- Django Template Langauge Blog Stores-->
                        {% endfor %}
                    </div>
                    <!-- Side Blog Posts-->
                </div>            
                
                <div class="flex flex-col md:flex-row mb-6">
                    <!-- TODO: Search Input-->
                    <input type="text" placeholder="Search post..." class="mt-10 sm:mt-20 input input-bordered w-full" />            
                </div>
                    <!-- TODO: Search Input-->
                                        
                <!-- TODO: Blog Post Grid-->
                <div class="grid w-full grid-cols-12">
                    <div class="order-last col-span-12 py-2 lg:order-first mb-8">
                        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">

                            {% for blog in blogs %}
                            <div class="hover:scale-105 duration-500 group shadow-xl h-full overflow-hidden transition-all hover:shadow-none rounded-lg">
                                <a href="{% url 'blog' %}" class="group flex h-full w-full border transition-all group-hover:brightness-110 rounded-lg flex-col">
                                    <div class="w-full">
                                        <div class="w-full overflow-hidden rounded-lg">
                                            <figure>
                                                <img src="{% static 'image/blog-images/'|add:blog.slug|add:'.webp' %}" alt="{{ blog.slug }}"/>
                                            </figure>
                                            <div class="card-body">
                                                <h2 class="card-title">{{ blog.title }}</h2>
                                                <p>MORE: {{ blog.subtitle }}</p>
                                                <div class="card-actions justify-end">                                        
                                                    <p class="flex flex-col space-y-1 no-underline opacity-75 text-sm font-regular wt-body-font">
                                                        <span class="text-xs font-semibold">{{blog.author}}<span class="text-pretty font-extralight"> | with AI support</span></span>
                                                        <time>{{ blog.publish_date }}</time>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}                          

                        </div>
                    </div>
                </div>
                <!-- TODO: Blog Post Grid--> 
                
            </div>
        </div>
    </div>
</main>    
{% endblock body %}
