{% extends "../base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<main class="flex flex-grow px-4 sm:px-0 mb-10">
    <div class="flex flex-col">
        <div class="flex min-h-screen flex-col">
            <div class="mx-auto pt-8 ">
                <div class="flex flex-col md:flex-row sm:gap-4">
                    <!-- Main  Picture-->
                    <div class="w-full md:w-2/3">                
                        <a class="group relative flex w-full flex-col overflow-hidden rounded shadow-xl" href="{% url 'blog' slug=latest_blog.slug %}">
                            <div class="w-full overflow-hidden rounded-xs">
                                <figure class="aspect-social relative">
                                    <img src="{% get_image_path latest_blog.slug %}" alt="{{ lateset_blog.slug }}" class="rounded-lg inset-0 min-w-full" width="800" height="421">                                 
                                    
                                </figure>
                            </div>
                            <div class="absolute top-6 left-6">
                                <div class="px-2 py-1 bg-white rounded-lg">
                                    <spand class="font-semibold capitalize text-lg sm:text-4xl">Featured</spand>
                                </div>
                            </div>
                            <div class="absolute bottom-0 flex h-full w-full flex-col justify-end space-y-1 bg-black bg-opacity-20 p-4 transition-all group-hover:bg-opacity-0">
                                <h1 class="text-xl sm:text-6xl md:text-6xl font-bold text-white">{{ latest_blog.title }}</h1>
                            </div>
                        </a>                                        
                    </div>
                    <!-- Main  Picture-->

                    <!-- Side Blog Posts-->
                    <div class="mt-2 sm:mt-0 w-full md:w-1/3 md:pr-12">
                        <h3 class="text-primary my-0 border-t-0 text-xl font-bold mb-4">Recent Newsletter</h3>
                        {% for blog in first_page_obj %}
                        <!-- Django Template Langauge Blog Stores-->
                        <div class="mb-4 border-b-2 border-primary hover:scale-105 pb-2">
                            <a class="flex no-underline" href="{% url 'blog' slug=blog.slug %}"> 
                                <div class="flex items-center justify-between space-x-1">
                                    <div class="flex-col">
                                        <h2 class="border-t-0 text-sm lg:text-xl font-bold">{{ blog.title }}</h2>
                                        <p class="text-xs lg:text-sm font-regular">MORE: {{ blog.subtitle }}</p>
                                    </div>
                                    <!-- SVG Arrow-->
                                    <div class="h-fit rounded-full border-2 border-primary p-2 end-0" >
                                    </div>
                                    <!-- SVG Arrow-->
                                </div>
                            </a>
                        </div>
                        <!-- Django Template Langauge Blog Stores-->
                        {% endfor %}
                    </div>
                    <!-- Side Blog Posts-->
                </div>            
                                        
                <!-- Blog Post Grid Component -->
                <section class="mt-10">
                    <h3 class="text-primary my-0 border-t-0 text-xl font-bold mb-4">All Newsletters</h3>
                </section>

                <section>
                    {% load unicorn %}
                    {% csrf_token %}
                    {% unicorn 'pagination' %}
                </section>
                <!-- Blog Post Grid Component -->
            </div>
        </div>
    </div>
</main>    
{% endblock body %}
