{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="flex flex-col text-center h-screen">
    <div class="mt-4"> 
        <div class="mb-6 card w-container shadow-2xl bg-base-100 rounded-3xl duration-500 hover:shadow-xl">
            <div class="card-body">                
                <h1 class="text-2xl font-bold">Email Verification Login</h1>
                <div class="mt-6 mb-2"> 
                    <!-- TODO: CONVERT TO COMPONENT -->
                    <form method="post" hx-post="/sign-in/" hx-target="#result">
                        {% csrf_token %}
                        <div class="flex my-4 justify-center">
                            <input type="text" name="email" placeholder="Email" required class="input input-bordered w-1/2 max-w-xs">
                        </div>
                        <div class="mt-8 mb-4">
                            <button id="login-btn" type="submit" class="hover:scale-105 btn btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg">
                                <span id="login-text">Login</span>
                                <span id="loading-text" class="loading loading-dots loading-lg hidden"></span>
                            </button>                            
                        </div>
                        <div id="result"></div>
                    </form>
                    <!-- TODO: CONVERT TO COMPONENT -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.body.addEventListener('htmx:beforeRequest', function(event) {
        if (event.target === document.querySelector('form')) {
            document.getElementById('login-text').classList.add('hidden');
            document.getElementById('loading-text').classList.remove('hidden');
        }
    });

    document.body.addEventListener('htmx:afterRequest', function(event) {
        if (event.target === document.querySelector('form')) {
            document.getElementById('loading-text').classList.add('hidden');
            document.getElementById('login-btn').classList.add('hidden');
        }
    });
</script>

{% endblock body %}