{% load static tailwind_tags %}
{% load unicorn %}
<!DOCTYPE html>
<html  data-theme="lemonade" class="duration-500" lang="en">
	<head>
		<meta name="description" content="Your meta description here">
		<meta name="keywords" content="your, meta, keywords, here">
		<title>{% block title %} {% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>	
		{% tailwind_css %}
		{% unicorn_scripts %}
	</head>

	<header>
		<div class="container">		
			{% include "partials/_header.html" %}
		</div>
	</header>
	
	<body>
		<script src="{% static 'js/themeSelector.js' %}"></script>

		<div class="container">
			{% csrf_token %}
			{% block body %}
			{% endblock body %}
		</div>
	</body>
	<footer>		
		<div class="container ">
			{% include "partials/_footer.html" %}
		</div>
	</footer>
</html>
