{% load static tailwind_tags %}
<!DOCTYPE html>
<html class="duration-500" lang="en">
	<head>
		<meta name="description" content="Your meta description here">
		<meta name="keywords" content="your, meta, keywords, here">
		<title>{% block title %} {% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
		{% tailwind_css %}
	</head>

	<header>
		<div class="container">		
			{% include "partials/_header.html" %}
		</div>
	</header>
	
	<body>
		<div class="container ">
			{% block body %}
			{% endblock body %}
		</div>
		
		<!-- Theme Switch JS -->										
		<script>
			const storedTheme = localStorage.getItem('selectedTheme');
			if (storedTheme) {
			  document.documentElement.setAttribute('data-theme', storedTheme);
			  document.getElementById('themeSelector').checked = storedTheme !== 'autumn';
			}
			
			const themeSelector = document.getElementById('themeSelector');
			themeSelector.addEventListener('change', handleThemeChange);
		
			function handleThemeChange() {
			  const selectedTheme = themeSelector.checked ? themeSelector.value : 'autumn';
			  document.documentElement.setAttribute('data-theme', selectedTheme);
			  localStorage.setItem('selectedTheme', selectedTheme);
			}
		</script>
		<!-- Theme Switch JS -->								
	</body>
	<footer>		
		<div class="container ">
			{% include "partials/_footer.html" %}
		</div>
	</footer>
</html>
