<!-- search_input.html -->
<div id="search-temp" class="z-50 fixed top-0 left-0 w-full h-full bg-gray-700 bg-opacity-75">
    <div class="flex justify-center">
        <form method="POST" action="{% url 'check-post' %}" autocomplete='off'>
            <div class="flex flex-col md:flex-row mt-10 mb-6">
                {% csrf_token %}
                <label>
                    <input type="text" 
                        placeholder="Search post..." 
                        class="input input-bordered w-full"
                        hx-post="{% url 'check-post' %}"
                        hx-target="#result"
                        hx-trigger="keyup changed delay:500ms"
                        name="seach-content"
                    />
                </label>
                <button class="btn btn-primary" hx-get="{% url 'search-trigger-close' %}" hx-target="#search-temp" hx-swap="outerHTML">Close</button>

            </div>
        </form>
    </div>
    <div id="result" class="duration-500 flex justify-center">

    </div>
        
</div>